<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Healthy lifestyle</title>
  </head>
  <body>
    <h1>Healthy lifestyle</h1>
    <img src="../static/img/healthy.jpg" alt="display this" width=400 height=200>
    <p>The phrase 'healthy lifestyle' is an abbreviated definition of how you should live if you want to get the healthiest body you can—one that both looks good and feels good. You know the obvious behaviors that describe someone who is healthy and takes care of themselves. A healthy person doesn't smoke, tries to maintain a healthy weight, eats healthy foods with plenty of fruits, vegetables and fiber and, of course, exercises on a regular basis.


Then there are other elements to add to the list. A healthy person also knows how to manage stress, gets good quality sleep each night, doesn't drink too much, doesn't sit too much—basically, does everything in moderation all the time. When you look at everything that could possibly go into a healthy lifestyle, you can see just how hard all of those things are in our current world.

The good news is, you don't have to change everything at the same time. In fact, the trick to healthy living is making small changes—taking more steps each day,1﻿ adding fruit to your cereal, having an extra glass of water, or saying no to that second helping of buttery mashed potatoes. One thing you can do right now to make your lifestyle healthier is to move more.</p>
<p>Whatever definition you have about what exercise is or isn't, the bottom line is that exercise is movement. Whether it's walking around the block or running a marathon, that movement is exercise and every time you move more than you normally do, it counts.</p>
  <p>t's great if you can spend time exercising—meaning you're sweating, working in your target heart rate zone, or doing something to strengthen your body. But it doesn't always have to be that way. Moderate activities like chores, gardening and walking can make a difference.</p></body>
</html>
