<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <title>Brain-Machine Interface Goes Wireless</title>
  </head>
  <body>
    <h1>Brain-Machine Interface Goes Wireless</h1>
    <h3>A paralyzed woman has used mind power and a robotic arm wirelessly connected to her brain to achieve the most dexterous movement yet accomplished with BMI.
</h3></br>
<img src="../static/img/bci.jpg" alt="display this" width=400 height=200>
<p>Scientists have enabled a quadriplegic woman to successfully use a brain-machine interface (BMI) to move an advanced robotic arm in the most complex ways yet accomplished using the technology. In 2012, scientists at the University of Pittsburgh School of Medicine implanted two electrodes with dozens of contact points into the brain of Jan Scheuermann, who was paralyzed from the neck down in 2003. In initial trials, Scheuermann successfully used her thoughts to wirelessly manipulate a robotic hand, reaching in three dimensions, flexing the wrist, and gripping objects. In a new BMI study published this week (December 16) in the Journal of Neural Engineering, researchers led by the Pitt’s Jennifer Collinger reported even more impressive feats of mid-controlled robotic motion. After additional training, Scheuermann successfully controlled the robot arm as it picked up large and small boxes, a rock, a ball, and tubes of varying dimensions.
</p>
<p>“Our project has shown that we can interpret signals from neurons with a simple computer algorithm to generate sophisticated, fluid movements that allow the user to interact with the environment,” said Collinger in a statement.</p>
<p>Although the BMI apparatus allowed Scheuermann unprecedented control of a robotic arm, the setup is not yet ready to be used outside of the laboratory. Scheuermann, 55, had the electrodes removed from her brain in October, but said she’s grateful to have participated in the study. “This is been a fantastic, thrilling, wild ride, and I am so glad I’ve done this,” she said. “This study has enriched my life, given me new friends and coworkers, helped me contribute to research, and taken my breath away.”</p>
<h4>keywords:</h4>
<p>Keywords:
BCIbrain-computer interfacebrain-controlled prosthesesbrain-machine interfaceneuroscience</p>
  </body>
</html>
